body {
  background: #02010a;
  font-family: 'Dancing Script';
}

.contenido {
  max-width: 900px;
	alignment-adjust: central;
}

header {
  background-color: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction:row;
  animation: slidein 2s;
}

@-webkit-keyframes slidein {

0%{margin-top: 150%;}
60%{margin-top: -5%;}
100%{margin-top: 0%;}

}



#IMG_central {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

#IMG_izq {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

#IMG_Derecha {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.titulo {
float: left;
}

.menu {
  float: right;
  margin-top: auto;
  margin-left: auto;
}
nav a {
  color: white;
  font-size: 1.5em;
  text-align: right;
}

#index {
text-decoration: none;
}

.Contenedor2 a {
  color: #02010a;
  font-size: 1.5em;
}
.Contenedor1 {
  padding: 14px;
  background:#82c3a6;
}
.Contenedor1 img {
  box-shadow: 2px 2px #02010a;
}

.Contenedor2 {
  background: #d5c75f;
  border: 1px;
  display: flex;
  flex-direction:row;
}
.Contenedor2 img {
  box-shadow: 2px 2px #02010a;
}
figcaption {
  text-align: center ;
}
  .IMG_izq {
  width: 50%;
  height: 50%;
  margin-left: 20px;

}
.IMG_izq img:hover {
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;


}

.IMG_Derecha {
  width: 50%;
  height: 50%;
  margin-right: 20px;
  box-shadow: #82c3a6;
}

.IMG_Derecha img:hover {
  transform:translate(20px,-5px);
  box-shadow: 2px 2px #82c3a6;
}

footer {
  font-family: 'Dancing Script', cursive;
  background: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
  display:flex;
  width: 100%;
  flex-flow: row wrap;
}
img.icono {
  width: 15%;
  height: 15%;
vertical-align: text-top;
}

footer div{
width:25%;
}

footer h2 .link {
color: #02010a;
text-decoration: none;
}

@media only screen and (min-width: 900px) {
.contenido {
width: 900px;
}
}
/*  Punto de quiebre Diseño Adaptativo */
@media only   screen and (max-width: 899px) {

  .contenido {
  width: 100%;
  background: white;
  }
  .titulo {

  width: 56%;
  margin-left: 65px;
  font-size: 26px;
  }
  .menu {
  width: 50%;
  text-align: center;
  margin-top: 80px;
  margin-left: -63%;
  display: inline-flex;
  }
  nav a {
  color: white;
  font-size: 1.5em;
  text-align: right;
  padding: 10px;
  }

  .Contenedor2 {display: flex;
  flex-direction: column;
  }
  .IMG_Derecha, .IMG_izq{
    margin: auto;
    width: 100%;
  }

footer {display: flex;
flex-direction: column;
}
footer div {
  margin-top: 2%;
  margin-left: 23%;
  width: 100%;
}
}
